.title, .subtitle {
    font-weight: bold;
    font-family: Roboto, cursive;
    font-size: 2rem;
    display: block;
    padding: .2rem;
    color: #7ABA7AFF;
}
.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}
.subtitle {
    font-size: 1.5rem;
}

