.content_skeleton {
    width: 100%;
}
.content_root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 18rem;
    min-height: 10rem;
    box-shadow: -4px 6px 15px -5px rgb(122, 186, 122);
    padding: .5rem;
}
