MONGO_DB_NAME=disruptivedb
MONGO_DB_HOST=localhost
MONGO_DB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=disruptive
MONGO_INITDB_ROOT_PASSWORD=disruptive
PORT=3202
NODE_ENV=dev
APP_NAME=Template
PATH_LOG=./logs/dev/output.log
VERSION_API=/api/v1/
SECRET_KEY=Fliqui
ENCRYPT_ALGORITHM=aes-256-cbc
EXPIRATION=30m
PAGE=1
CHUNK=10
MAX_CHUNK=100
PATH_FILES=uploads
FORMAT_DATE="yyyy-MM-dd"