.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    justify-items: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
}

.content-center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mtb-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ml-3 {
    margin-left: 3rem;
}
