.input_load_label {
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    width: 8.2rem;

    input {
        display: none;
    }
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        font-size: 1.2rem;
        margin-top: .6rem;
    }
    div {
        display: flex;
        gap: 0.8rem;
        margin-top: 1rem
    }
}

.content_pdf {
    max-height: 20px;
    max-width: 20px;
    background-color: red;
}