.btn_container {
    display: flex;
    gap: 2rem;
    justify-content: end;
    padding-right: 0.5rem;

}
.mt_2 {
    margin-top: 1rem;
}
.container_flex {
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}
.content_skeleton {
    width: 100%;
}